
/* import fonts from fonts.css file */
@import url(./fonts.css);

/* css variables */
@import url(./partials/_variables.css);

/* import global styling*/
@import url(./partials/_global.css);
/************* START NAVIGATION ***********/
.navLogo{
    height: 50px;
    width: 50px;
}
.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
}
.header_area .main-menu .navbar{
    padding: 1rem 20rem;
}
.header_area .main-menu .nav-item .nav-link{
    font: normal 500 15px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1.7rem;
    color:var(--title-color);
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/************* END NAVIGATION ***********/

/************* START BANNER AREA ***********/
.site-main .site-banner{
    background: url(../img/home-banner.png) no-repeat 0% 50%;
}

.site-main .site-banner .site-title h3{
    padding-top: 35%;
    font-weight: 500;
}

.site-main .site-banner .site-title h3::after{
    /* content: ""; */
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1{
    font-size: 5rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}

.site-main .site-banner .banner-image>img{
    padding: 7rem 0;
    width: 90rem;
}

/************* END BANNER AREA ***********/

/************* START ABOUT AREA ***********/

.site-main .about-area{
    padding: 8rem 5rem;
}

.site-main .about-area .about-title h2 > span{
    display: block;
    font: normal bold 49px/60px var(--roboto);
    letter-spacing: 21px;
}

.site-main .about-area .about-title .paragraph > p{
    padding: .4rem 0;
}

/************* END ABOUT AREA ***********/

/************* START SKILLS AREA ***********/

.site-main .skills-area{
    padding: 7rem 2rem;
}

.site-main .skills-area .skills-title{
    padding: 0 14rem;
}

.site-main .skills-area .skills-title h1{
    font-size: 35px;
}

.site-main > .skills-area .skills{
    background: rgba(248, 252, 253, 0.973);
    /* background: red; */
    padding: 2rem 0;
    width: 16rem;
    margin: .5rem .5rem;
    transition: box-shadow .7s ease;
}

.site-main > .skills-area .skills:hover{
    box-shadow: var(--box-shadow);
}

/************* END SKILLS AREA ***********/



